.navbar{
    width:100%;
    display:flex;
}


body, h1, p{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: absolute;
    top: 0;
  }

  
  .social-icons {
    display: flex;
    text-align: right;
    gap: 15px;
  }


  .icon {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
  }


  .main-content {
    text-align: center;
  }


  .headline {
    font-size: 2.5em;
    font-weight: bold;
  }


  .highlight {
    color: #00e0b5;
  }


  .subheadline {
    margin-top: 10px;
    font-size: 1em;
    color: #aaa;
  }